# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Test_QuanLySP\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Test_QuanLySP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
